/* Define standard variables and values for website */
$bgcolor: lightblue;
$width: 340px;
$height: 260px;
$margin: auto;
$padding: 10px;
$widthimage: 100%;



/* Use the variables */
.videohello {
  background-color: $bgcolor;
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}
.videostyle {
  margin: $margin;
  width: $width;
  height: $height;
}


@media only screen and (max-width: 600px) {
                                                                        .passionImagenBooth  img {
                                                                        width:$widthimage;
                                                                        }

}
@media only screen and (min-width: 600px) {
                                                                        .passionImagenBooth  img {
                                                                        width:$widthimage;
                                                                        }
}
@media only screen and (min-width: 768px) {
                                                                        .passionImagenBooth img {
                                                                        width:$widthimage;
                                                                        }

}
@media only screen and (min-width: 992px) {
                                                                     .passionImagenBooth  img {
                                                                        width:$widthimage;
                                                                        }

}
@media only screen and (min-width: 1200px) {
                                                                        .passionImagenBooth img {
                                                                        width:$widthimage;
                                                                        }

}

