/* Define standard variables and values for website */
$bgcolor: lightblue;
$width: 340px;
$height: 260px;
$margin: auto;
$padding: 10px;

/* Use the variables */
.videohello {
  background-color: $bgcolor;
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}
.videostyle {
  margin: $margin;
  width: $width;
  height: $height;
}