
#indexTop   {

}

#cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
}

#cvPassion  {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
}

#cvKnowledge    {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
}

.infoName   {

}

.infoGate   {

}

.profilePicture {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        position: absolute;
        align= left;
        width= 100px;
}

.infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: Verdana, Times, serif;
                        font-size: 14px;
                    
}

body {
        background-color: lightgray;
}

h1  {
    color: blue;
}

h2  {
    color: blue;
    text-align: center;
    
}

h3   {
    color: black;
}

p   {
    padding: 5px;
}
