@media only screen and (max-width: 450px) {
  body {
    background-color: black;
    opacity: 0.3;
  }

#indexTop {

}
#cvInfo {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
                background-color: gray;
                opacity: 0.5;
}
#cvPassion{

}
#cvKnowledge{

}
.infoName{

}
.infoGate{

}
.profilePicture{

}
h1{
}
h2{
}
h3{
}
p{
}