@media only screen and (max-width: 600px) {
  #cvInfo     {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                padding: 30px;
                background: red;
                }
  
  
 
    .profilePicture {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 200px;
        }

    .profilePicture:hover {
      border: 1px solid #777;
      pointer: cursor;
    }

    .profilePicture img {
      width: 100%;
      height: auto;
    }

             

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 #cvInfo     {
                margin-left: 20px;
                   margin-right: 20px;
                margin-top: 20px;
                padding: 30px;
                background: green;
                }
  
  
    .profilePicture {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 200px;
        }

    .profilePicture:hover {
      border: 1px solid #777;
    }

    .profilePicture img {
      width: 100%;
      height: auto;
    }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 #cvInfo     {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                padding: 30px;
                background: lightblue;
                }
  
  
 
    .profilePicture {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 250px;
        }

    .profilePicture:hover {
      border: 1px solid #777;
    }

    .profilePicture img {
      width: 100%;
      height: auto;
    }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 #cvInfo     {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                padding: 30px;
                background: gray;
                }
  
  
 
    .profilePicture {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 280px;
        }

    .profilePicture:hover {
      border: 1px solid #777;
    }

    .profilePicture img {
      width: 100%;
      height: auto;
    }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 #cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                margin-right: 20px;
                padding: 30px;
                background: pink;
                }
  
  
 
    .profilePicture {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 300px;
        }

    .profilePicture:hover {
      border: 1px solid #777;
    }

    .profilePicture img {
      width: 100%;
      height: auto;
    }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
}


