@media only screen and (max-width: 600px) {
  #cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
                background: red;
                }
  
  
 
    .profilePicture {
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 15px;
        float: left;
        max-width: 25%;
                }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 #cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
                background: green;
                }
  
  
 
    .profilePicture {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        max-width: 29%;
        float: left;
                }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 #cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
                background: lightblue;
                }
  
  
 
    .profilePicture {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        max-width: 31%;
        float: left;      
                }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 #cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
                background: gray;
                }
  
  
 
    .profilePicture {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        max-width: 33%;
        float: left;
                }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 #cvInfo     {
                margin-left: 20px;
                margin-top: 20px;
                padding: 30px;
                background: pink;
                }
  
  
 
    .profilePicture {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        max-width: 35%;
        float: left;
        
                }

    .infoPersonal   {
                        padding-left: 15px;
                        padding-top: 5px;
                        font-family: "Verdana", Times, serif;
                        font-size: 14px;
                    
                }

    body {
            background-color: lighgray;
        }

    h1  {
        color: blue;
        }

    h2  {
        color: red;
        }

    h3   {
        color: black;
        }

    p   {
        padding: 5 px;
     }
 
  
}


